.main-tables-container {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  max-width: 930px;
}

.product-cards--container {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  justify-content: space-around;
}

.plans-container--slider {
  justify-content: space-around;
}
.btcImg-container {
  background-image: url("../assets/imgs/bitcoinbaby3x.png");
}
