:root {
  /*Colores*/
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-whte: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 50px;
  text-align: center;
  align-self: center;
  justify-content: center;
}

.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-whte);
}

.header--title-container p {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header--title-container .header--button {
  position: relative;
  top: 5rem;
  padding: 15px;
  text-align: center;
  min-width: 90%;
  min-height: 40px;
  background-color: var(--off-white);
  /* sombra */
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header--button span {
  display: inline-block;
  width: 2rem;
  height: 1.6rem;
  margin-left: 2rem;
  background-image: url("./assets/icons/downArrow.svg");
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding: 8rem 0;
  text-align: center;
}

.main-exchange-container--title {
  width: 90%;
  min-width: 30rem;
  max-width: 90rem;
  margin: 0 auto;
}

.main-exchange-container .backgroundImg {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-image: url("./assets/imgs/bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container--title h2 {
  margin-bottom: 6rem;
  font-size: 2.4rem;
  font-weight: bold;
  height: 2.6rem;
  color: var(--black);
}

.main-exchange-container--title p {
  margin-bottom: 5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

.main-currency-table-Monedas,
.main-currency-table-Comisiones {
  width: 70%;
  min-width: 23rem;
  max-width: 50rem;
  height: 36rem;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.main-currency-table-Monedas .currency-table--title,
.main-currency-table-Comisiones .currency-table--title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
}

.main-currency-table-Monedas .currency-table--title {
  color: var(--bitcoin-orange);
}

.main-currency-table-Comisiones .currency-table--title {
  color: var(--secondary-blue);
}

.currency-table--container {
  width: 90%;
  min-width: 23rem;
  max-width: 30rem;
  height: 25rem;
  margin: 0 auto;
}

.currency-table--container table {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  box-shadow: 0 2px 8px var(--bitcoin-orange);
  border-radius: 2rem;
}

.currency-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-whte);
}

.currency-table--container .table__top-left {
  border-radius: 1.5rem 0 0 0;
}
.currency-table--container .table__top-right {
  border-radius: 0 1.5rem 0 0;
}

.currency-table--container .table__bottom-left {
  border-radius: 0 0 0 1.5rem;
}
.currency-table--container .table__bottom-right {
  border-radius: 0 0 1.5rem 0;
}

.currency-table--container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.currency-table--container .down {
  display: inline-block;
  margin-left: 1rem;
  width: 2rem;
  height: 1.5rem;
  background-image: url("./assets/icons/trending-down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table--container .up {
  display: inline-block;
  margin-left: 1rem;
  width: 2rem;
  height: 1.5rem;
  background-image: url("./assets/icons/trending-up.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--container .currency-table--dateOrange {
  font-size: 1.2rem;
  width: 90%;
  background-color: var(--soft-orange);
  height: 3rem;
  color: var(--warm-black);
  padding: 0.8rem;
  border-radius: 0.9rem;
  margin: 0 auto;
}

.currency-table--container .currency-table--dateBlue {
  width: 90%;
  padding: 0.8rem;
  color: var(--warm-black);
  font-size: 1.2rem;
  height: 3rem;
  font-size: 1.2rem;
  background-color: var(--soft-blue);
  border-radius: 0.9rem;
  margin: 0 auto;
}

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px;
  background-color: var(--warm-black);
  justify-content: center;
}

.product-detail--patataLogo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -12px;
  left: calc(50% - 30px);
  background-image: url("./assets/imgs/papa.svg");
}

.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.product-detail--title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-whte);
}

.product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-detail--card {
  font-weight: bold;
  width: 80%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 8px;
  /* box-shadow: -3px 5px 5px var(--soft-blue); */
  box-shadow: -3px 5px 5px #f7931ad4;
}

.product-detail--card:hover {
  box-shadow: -3px 5px 5px #f7931ad4;
}

.product-detail--card span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail--card .clock {
  background-image: url("./assets/icons/clock.svg");
}

.product-detail--card .eye {
  background-image: url("./assets/icons/eye.svg");
}

.product-detail--card .money {
  background-image: url("./assets/icons/dollar.svg");
}

.product-detail--card .tick {
  background-image: url("./assets/icons/check-circle.svg");
}

.product-detail--card .product--card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--just-whte);
}

.product-detail--card .product--card-body {
  margin-bottom: 15px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #808080;
}
